#root {
  color: red;
  grid-area: rOot;
}

label {
  display: inline-block;
  vertical-align: baseline;
  padding-top: 5px;
  color: white;
  font-size: 20px;
  margin: 0px 5px 0px 5px;
}

#series {
  max-height: 100%;
}

#selectWrap {
  display: flex;
  max-height: 100%;
  background-color: grey;
}

body {
  flex-wrap: wrap;
}

#inputWrap {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  background-color: grey;
}

#header {
  height: 100%;
  margin-bottom: 20px;
  width: 100%;
  grid-area: heaDer;
}

#counterWrap {
  background-color: grey;
}

#main {
  display: grid;
  grid-template-areas:'heaDer'
  'rOot'
  'fOoter'; 
  /*display: flex;*/
  flex-wrap: wrap;
}

#footer {
  grid-area: fOoter;
  display: inline-block;
}

#footerP {
  display: inline-block;
}

/*li:hover {
  background-color: orange;
  border: 2px solid yellow;
  cursor: pointer;
}

li:hover p {
  font-size: 20px;
}

li:hover h3 {
  font-size: 20px;
}

li:hover div {
  background-color: orange;
}*/

