#root {
  color: red;
  grid-area: rOot;
}

label {
  display: inline-block;
  vertical-align: baseline;
  padding-top: 5px;
  color: white;
  font-size: 20px;
  margin: 0px 5px 0px 5px;
}

#series {
  max-height: 100%;
}

#selectWrap1 {
  display: flex;
  max-height: 100%;
  background-color: grey;
}

#selectWrap {
  display: flex;
  max-height: 100%;
  background-color: grey;
}

body {
  flex-wrap: wrap;
}

#inputWrap {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  background-color: grey;
}

#header {
  height: 100%;
  margin-bottom: 20px;
  width: 100%;
  grid-area: heaDer;
}

#counterWrap {
  background-color: grey;
}

#main {
  display: grid;
  grid-template-areas:
    "heaDer"
    "rOot"
    "fOoter";
  /*display: flex;*/
  flex-wrap: wrap;
}

#footer {
  grid-area: fOoter;
  display: inline-block;
}

#footerP {
  display: inline-block;
}

/*summary description*/
.summ:hover {
  cursor: pointer;
}

#sum {
  color: black;
}

/*summary heading*/
h4 {
  color: black;
}

/*setting the links*/
a:link {
  text-decoration: none;
  color: black;
  background-color: lightgrey;
  border: 1px solid black;
  padding: 2px 5px 2px 5px;
}

a:visited {
  color: blue;
}

a:hover {
  color: blue;
  text-decoration: underline;
  border: 2px solid black;
  background-color: grey;
}

a:active {
  color: orange;
}
